.global-container {
  min-height: 410px;     
  display: flex;
  justify-content: space-between;

  &.comparation {
    justify-content: space-evenly;
  }
}

.asignatures-container {
  /* width: 400px; */
  width: 25vw;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;

  &.custom {
    margin: 0 0 25px;
  }
}
  
.asignatures-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  /* overflow: hidden; */
  display: block;
  overflow-y: scroll;
  max-height: 404px;
}

.asignature-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.asignature-box:last-child {
  border: none;
}

.asignatures-list.cdk-drop-list-dragging .asignature-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}