@import '../assets/styles/general.scss';
.container{
    width: 100%;
    margin: 0;
    display:flex;
    justify-content: center;
    background-color:  $color-soft-blue;
    min-height:94vh;
}

.section{
    background-color: white;
    margin: 15px 0;
    border-radius: 4px;
    padding: 10px 40px;
}

@media (min-width: 300px){
    .section{
        width:300px;
    }
}
@media (min-width: 767px){
    .section{
        width:600px;
    }
}
@media (min-width: 1000px){
    .section{
        width:800px;
    }
}
@media (min-width: 1500px){
    .section{
        width:1200px;
    }
}



