@import '../../assets/styles/general.scss';

.row{
    display: flex;
    align-items:center;
    background-color: $color-blue;
}

@media (min-width: 767px){
    .navbar-col{
        width:30%;
        margin-right:3.3%;
        display: flex;
    }
    
    .align-left{
        justify-content: flex-start;
    }
    
    .align-center{
        justify-content: center;
    }
    
    .navbar-item{
        width:20%;
    }    
}

.nav-cm-btn{
    border-top: 4px solid transparent;
    padding: 20px 0;
    color: gainsboro;
    background-color: $color-blue;
}

.nav-cm-btn:hover{
    border-top: 4px solid white;
    color: white;
}

.nav-title{
    color:white;
    margin: 0 0 0 1pc;
    align-self: center;
}

.mobile-menu{
    position: fixed;
    top: 50px;
    display: flex;
    will-change: translateY;
    transform: translateY(-500px);
    transition: 700ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .mobile-menu.show{
    background: $color-blue;
    transform: translateY(0) !important
  }

  
.nav-link {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    transition: 450ms ease;
    cursor: pointer;
  }
  .nav-link:hover{
    transform: scale(1.3);
    color: $color-soft-blue !important
  }

  .navbar-toggler-icon {
    color: white;
  }
  
  .navbar-toggler{
    transition: 450ms ease;
  }
  
  .navbar-toggler:active , .navbar-toggler:focus   {
    outline:none;
  }
  
  .navbar-toggler.active {
    transform: scale(1.5);   
    .navbar-toggler-icon {
      color: $color-blue
    }
}