<div class="row" *ngIf="!(isMobile$ | async)">
  <div class="navbar-col align-left" routerLink="/" style="cursor:pointer;">
    <h2 class="nav-title">Deteccion de comentarios ofensivos</h2>
  </div>
  <div class="navbar-col"></div>
  <div class="navbar-col align-center">
    <!-- <button
      class="navbar-item cm-btn nav-cm-btn"
      *ngIf="user"
      routerLink="/extract"
    >
      Extraer
    </button>
    <button
      class="navbar-item cm-btn nav-cm-btn"
      *ngIf="user"
      routerLink="/calification"
    >
      Calificar
    </button>
    <button
      class="navbar-item cm-btn nav-cm-btn"
      *ngIf="user"
      routerLink="/results"
    >
      Resultados
    </button>
    <button
      class="navbar-item cm-btn nav-cm-btn"
      *ngIf="!user"
      (click)="logIn()"
    >
      Iniciar sesión
    </button>
    <button
      class="navbar-item cm-btn nav-cm-btn"
      *ngIf="user"
      (click)="logOut()"
    >
      Cerrar sesión
    </button> -->
  </div>
</div>

<div class="row" *ngIf="(isMobile$ | async)">
  <!-- <button
    class="navbar-item cm-btn nav-cm-btn"
    type="button"
    (click)="toggleNavbar()"
  >
    <clr-icon shape="bars"></clr-icon>
  </button>
  <div class="mobile-menu" [ngClass]="navbarOpen ? 'show' : 'hide'">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="user" (click)="toggleNavbar()">
        <a class="nav-link" routerLink="/calification">Calificar</a>
      </li>
       <li class="nav-item" *ngIf="user" (click)="toggleNavbar()">
      <a class="nav-link"  routerLink="/results">Resultados</a>
    </li>
  <li class="nav-item" (click)="toggleNavbar()">
    <a class="nav-link" *ngIf="!user" (click)="logIn()">Iniciar sesión</a>
    <a class="nav-link" *ngIf="user" (click)="logOut()">Cerrar sesión</a>
  </li>
  </ul>
</div> -->
  <div class="navbar-col align-left" routerLink="/" style="cursor:pointer;">
    <h2 class="nav-title">Deteccion de comentarios ofensivos</h2>
  </div>
</div>