<h2>Bienvenido!</h2>
<p>Primero que todo queremos agradecerte por tomarte el tiempo de ayudarnos con nuestra investigación.</p>
<p>Actualmente requerimos de tu perspectiva sobre algunos comentarios de redes sociales que pueden ser ofensivos.</p>
<p>Ten en cuenta que los comentarios pueden tener insultos y ofensas de cualquier tipo, se sugiere discreción.</p>
<p>Lo que debes hacer es sencillo:</p>
<p>1- Inicia sesion con Google</p>
<p>2- Luego, aparecera un botton que dice "Calificar", haz click sobre él.</p>
<p>3- Lee el comentario que se presenta y haz click en el boton "No es ofensivo" o "Si, es ofensivo" según lo que tu consideres. Es importante que tomes en cuenta: ¿Si el comentario es dirigido a ti te sentirias agredido o insultado?</p>
<p>Recuerda que una vez hagas click sobre el boton, tu respuesta sera enviada a nuestra base de datos, no podras deshacer tu calificacion y tampoco calificar 2 veces el mismo comentario.</p>
<p>Eso es todo! Recuerda que mientras mas comentarios califiques mas nos estas ayudando en la investigación y miles de gracias por tu ayuda!</p>