<div class="container">
    <div>
        <div class="options-grid">
            <mat-card class="option-card" (click)="selectOption(1)">
                <i class="material-icons md-90">
                    playlist_add_check
                </i>
                <mat-card-actions>
                    <p>Recomendar asignaturas</p>
                </mat-card-actions>
            </mat-card>

            <mat-card class="option-card" (click)="selectOption(2)">
                <i class="material-icons md-90">
                    how_to_reg
                </i>
                <mat-card-actions>
                    <p>Comparar conjuntos de asignaturas</p>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>