@import '../../assets/styles/general.scss';

button {
  width: 100%;
}

textarea {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #686868;
  height: 100px;
}

input[type='text'] {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #686868;
  border: 1px solid gainsboro;
  height: 50px;
  margin-bottom: 10px;
}

.probabilidad {
  font-size: 16px;
  font-weight: 600;

  .not-toxic {
    color: $color-soft-blue;
  }
  .neutral {
    color: $color-orange;
  }
  .toxic {
    color: #aa0000;
  }
}

.btn-soft-blue {
  background-color: $color-soft-blue;
}

.results {
  width: 100%;
}

.slidecontainer {
  width: 100%;
  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.slider {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: $color-blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: $color-blue;
  cursor: pointer;
}

.tweets-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  .tweet {
    width: 30%;
    margin: 4px 1.5%;
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
    position: relative;
    .caption {
      position: absolute;
      bottom: 0px;
      right: 10px;
      font-weight: 700;
      font-size: 16px;
      &.not-toxic {
        color: $color-soft-blue;
      }
      &.neutral {
        color: $color-orange;
      }
      &.toxic {
        color: #aa0000;
      }
    }
    .displayer {
      flex: 10%;
      margin: 5px;
      &.not-toxic {
        background-color: $color-soft-blue;
      }
      &.neutral {
        background-color: $color-orange;
      }
      &.toxic {
        background-color: #aa0000;
      }
    }
    .text {
      flex: 90%;
    }
  }
}
